* {
	margin: 0;
	padding: 0;
	font-family:'Courier New', Courier, monospace;
    background-color: lemonchiffon;
}

h1 {
	color: rgb(28, 30, 28);
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-top: 22px;
}

h6 {
	color: rgb(20, 20, 20);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 20px;
}

.myImage-gallery img{
	height: 92px;
	margin: 10px 0;
	cursor: pointer;
	display: block;
	opacity: .5;
}

.myImage-gallery img:hover {
	opacity: 1;
}

.myImage-gallery {
	float: left;
}

.myImage {
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	position: absolute;
}

.image-container img {
	height: 400px;
	transition: transform 1s;
}

.image-container img:hover{
	transform: scale(1.5);
	cursor: zoom-in;
}

.image-container {
	float: right;
	padding: 10px;
}
